/*========================GLOBAL==========================*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /*1rem = 10px*/

  /*Colors*/
  --Tomato: hsl(4, 100%, 67%);
  --Dark-Slate-Grey: hsl(234, 29%, 20%);
  --Charcoal-Grey: hsl(235, 18%, 26%);
  --Grey: hsl(231, 7%, 60%);
  --White: hsl(0, 0%, 100%);
}

@font-face {
  font-family: Roboto-Bold;
  src: url("../assets/fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: Roboto-Regular;
  src: url("../assets/fonts/Roboto-Regular.ttf");
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--Dark-Slate-Grey);
}

/*========================WRAPPER==========================*/

#wrapper {
  width: min(37.5rem, 100%);
  margin: auto;
}

/*========================FULL-FORM==========================*/

.full-form {
  background-color: var(--White);
  margin: auto;
  display: grid;
  grid-template:
    "A"
    "B";
}

.full-form .image {
  width: 100%;
  height: 30rem;
  grid-area: A;
  border-radius: 0 0 20px 20px;
  background-image: url("../assets/images/illustration-sign-up-mobile.svg");
  background-size: cover;
  background-position: center;
}

.full-form .content {
  width: 100%;
  grid-area: B;
  padding-inline: 2rem;
}

.full-form .content h1 {
  font-size: 4rem;
  font-family: Roboto-Bold;
  margin-top: 3rem;
  margin-bottom: 2rem;
  color: var(--Dark-Slate-Grey);
}

.full-form .content p {
  font-size: 1.8rem;
  font-family: Roboto-Regular;
}

.full-form .content ol {
  margin-top: 3rem;
  font-size: 1.8rem;
  font-family: Roboto-Regular;
  padding-inline: 2.7rem;
}

.content ol li {
  padding-left: 1.5rem;
  margin-bottom: 1rem;
  line-height: 3rem;
  list-style-image: url(../assets/images/icon-list.svg);
}

/*========================FORM==========================*/
.form form {
  padding-inline: 2rem;
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
}

.form form p {
  font-family: Roboto-Bold;
  font-size: 1.3rem;
}

.form form span {
  display: none;
  font-family: Roboto-Bold;
  font-size: 1.3rem;
  position: absolute;
  margin-left: 22rem;
}

.form form input {
  height: 6rem;
  border-radius: 10px;
  border: 1px rgba(0, 0, 0, 0.445) solid;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1.7rem;
  cursor: pointer;
}

.form form input[type="email"] {
  padding-left: 2.5rem;
  border: 1px rgba(0, 0, 0, 0.445) solid;
  margin-top: 1rem;
}

.email_error::placeholder {
  color: red;
}

.form form input[type="submit"] {
  background-color: var(--Dark-Slate-Grey);
  color: var(--White);
  font-family: Roboto-Bold;
  margin-top: 1rem;
  text-align: center;
}

.form form input[type="submit"]:hover {
  background: rgb(255, 80, 134);
  background: linear-gradient(
    90deg,
    rgba(255, 80, 134, 1) 0%,
    rgba(254, 104, 45, 1) 50%
  );
}



@media (min-width: 1024px) {
  /*========================body==========================*/
  body {
    background-color: var(--Dark-Slate-Grey);
    height: 90rem;
    display: flex;
  }

  /*========================WRAPPER==========================*/
  #wrapper {
    width: min(100rem, 100%);
  }

  /*========================FULL-FORM==========================*/
  .full-form {
    background-color: var(--White);
    padding: 3rem;
    border-radius: 2rem;
    grid-template-columns: 1fr 0.75fr;
    grid-template-areas:
      "B A"
      "C A";
  }

  .full-form .image {
    height: 100%;
    border-radius: 2rem;
    background-image: url("../assets/images/illustration-sign-up-desktop.svg");
  }

  .full-form .content {
    width: 90%;
    grid-area: B;
    padding-inline: 2rem;
  }

  .full-form .content h1 {
    font-size: 6.5rem;
    font-family: Roboto-Bold;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  .form form {
    width: 90%;
    grid-area: C;
    padding-bottom: 6rem;
  }

  /*========================FORM==========================*/

  .form form p {
    font-family: Roboto-Bold;
    font-size: 1.6rem;
  }

  .form form span {
    display: none;
    font-family: Roboto-Bold;
    font-size: 1.6rem;
    position: absolute;
    margin-left: 30rem;
  }
}
